{% extends "base.html" %}

{% block body %}
<html>
    <head>

    </head>

    <body>
        <p>{{ message }}</p>
        <form action="" method="post">
            {% csrf_token %}
          
            <div class="container">
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <button type="submit">send email</button>
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
          </form>
          

    </body>
</html>
{% endblock %}