{% extends "authentication/base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your username'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                }
              ]
            }
          }
        })
      ;
    });
  </script>
{% endblock %}

{% block content %}
  <form class="ui large form{% if error_message %} error{% endif %}" action="" method="POST">
    {% csrf_token %}
    <div class="ui segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="username" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <button class="ui fluid large grey submit button" type="submit">Login</button>
    </div>

    <div class="ui error message">{% if error_message %}{{ error_message }}{% endif %}</div>

  </form>
  <div class="ui message">
      New to us? <a href="/account/signup">Sign Up</a>
  </div>
{% endblock %}
