{% extends "broker/base.html"%}
{% load static %}

{% block head %}
    {{block.super}}

{% endblock %}
{% block content %}

  <div class="ui main text container" style="padding-left: -10em; ">
    <h1 class="ui header">List of Active Applications</h1>
      <div class="ui one column stackable grid">
          <div class="column">
            <div class="ui raised segment">
                <div class="ui five column stackable grid">

                    <div class="column middle aligned center aligned">
                        <p>Course Name</p>
                    </div>

                    <div class="column middle aligned center aligned">
                        <div class="ui label sc">
                              <i class="clock outline icon"></i> release date
                        </div>
                    </div>

                    <div class="column middle aligned center aligned">
                        <div class="ui label sc">
                              <i class="clock icon"></i> deadline
                        </div>
                    </div>

                    <div class="column middle aligned center aligned">
                        <div class="ui label sc">
                              <i class="pen square icon"></i> Num of Rsp.
                        </div>
                    </div>

                    <div class="column middle aligned center aligned">
                        <div class="ui animated button" tabindex="0">
                          <div class="visible content">Details</div>
                          <div class="hidden content">
                            <i class="right arrow icon"></i>
                          </div>
                      </div>
                    </div>

                </div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}