{% extends "broker/base.html"%}
{% load static %}

{% block content %}
  <div class="ui main text container" style="padding-left: -10em; ">
    <h1 class="ui header">List of Applications</h1>
    {% for form in forms %}
      <div class="ui raised segment">
          <div class="ui equal width grid">
              <div class="column middle aligned center aligned">
                  <p>{{ form.course_id }}</p>
              </div>

              <div class="column middle aligned center aligned">
                  <div class="ui label">
                    Deadline
                    <div class="detail">{{ form.deadline|date:"M d" }}</div>
                  </div>
              </div>

              <div class="column middle aligned center aligned">
                  <div class="ui label">
                    Responses
                    <div class="detail">{{ form.get_responses.count }}</div>
                  </div>
              </div>

              <div class="column middle aligned center aligned">
                  <a class="ui animated grey button" tabindex="0" href="{% url 'instructor_form_detail' id=form.id %}">
                    <div class="visible content">Details</div>
                    <div class="hidden content">
                      <i class="right arrow icon"></i>
                    </div>
                </a>
              </div>

          </div>
      </div>
    {% endfor %}

    <a href="/instructor/form/new/" class="ui right floated grey button">Create a New Form</a>
  </div>
{% endblock %}
